.full_btn {
  color: #fff;
  padding: 15px 30px;
  background: #df081d;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  &:hover {
    background: #fff;
    color: #df081d;
  }
}

.scroll_container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: -68px;
  transform: translateY(100%);
  z-index: -1;
  @media (max-width: 1200px){
    display: none;
  }
}

.scroll-link {
  display: block;
  z-index: 49;
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  @media (max-width: 1200px){
    display: none;
  }
}

.scroll-link .svg-mouse svg {
  height: auto;
  width: 100%;
  max-width: 2.5rem;
}

.scroll-link .svg-mouse svg .scroll {
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  animation-timing-function: cubic-bezier(0.65, -0.55, 0.25, 1.5);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 20.5px;
  transform-origin: 50% 20.5px;
  will-change: transform, opacity;
  opacity: 1;
  fill: #F60000;
}

@media only screen and (max-width: 991px) {
  .scroll-link .svg-mouse svg .scroll {
    display: none;
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateY(0) scaleY(1);
    transform: translateY(0) scaleY(1);
  }

  100% {
    -webkit-transform: translateY(36px) scaleY(2);
    transform: translateY(36px) scaleY(2);
    opacity: 0;
  }
}

.more-info {
  display: none;
  color: #df081d;
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  @media (max-width: 575px) {
    display: block;
  }
}