.hero {
  position: relative;
  @media (max-width: 991px) {
    padding: 160px 0 120px;
  }
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: top no-repeat;
    background-size: cover;
    box-shadow: 0 10px 38px -3px rgba(0, 0, 0, 0.39);
    @media (max-width: 991px) {
      background-position: left;
    }
  }
  .container {
    position: relative;
  }
  .logo {
    position: absolute;
    top: 30px;
    right: 0;
    @media (max-width: 1200px) {
      right: 30px;
    }
    @media (max-width: 991px) {
      top: -130px;
      right: auto;
      left: 15px;
    }
    img {
      height: 120px;
      width: 100%;
      @media (max-width: 1200px) {
        height: 80px;
      }
      @media (max-width: 991px) {
        height: 60px;
      }
    }
  }
  .hero-row {
    height: 100vh;
    position: relative;
    @media (max-width: 1200px) {
      height: 80vh;
    }
    @media (max-width: 991px) {
      height: auto;
    }

    .title {
      margin-bottom: 40px;
      padding: 0 20px;
      position: relative;
      @media (max-width: 575px) {
        max-width: 300px;
      }
      h1 {
        font-size: 90px;
        color: #fff;
        font-weight: 800;
        margin: 0;
        line-height: 1.3;
        @media (max-width: 1600px) {
          font-size: 70px;
        }
        @media (max-width: 1200px) {
          font-size: 60px;
        }
        @media (max-width: 991px) {
          font-size: 50px;
        }
        @media (max-width: 575px) {
          font-size: 28px;
        }
      }
      .border-bottom {
        left: 780px;
        right: auto;
        @media (max-width: 1328px) {
          left: 600px;
        }
        @media (max-width: 1200px) {
          left: 500px;
        }
        @media (max-width: 991px) {
          left: 440px;
        }
        @media (max-width: 575px) {
          left: 270px;
        }
      }
    }

    .subtext {
      max-width: 600px;
      margin-bottom: 50px;
      p {
        color: #fff;
        font-size: 20px;
        @media (max-width: 768px) {
          font-size: 18px;
        }
        @media (max-width: 575px) {
          font-size: 16px;
        }
      }
    }
    .button {
      @media (max-width: 768px) {
        text-align: center;
      }
    }
  }
  .line {
    position: absolute;
    width: 2px;
    height: 60px;
    background: #df081d;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
  }
}

.intro-text {
  .title {
    max-width: 500px;
  }
  .extra-content-large {
    column-count: 2;
    margin-top: 40px;
    @media (max-width: 575px) {
      column-count: 1;
    }
  }
}

.half-text {
  position: relative;
  &.grey {
    background: #f8f8f9;
  }
  .title {
    margin-bottom: 30px;
    max-width: 600px;
  }
  .content {
    overflow: hidden;
    .extra-content {
      transition: all .8s ease-in-out;
      @media (max-width: 575px) {
        max-height: 0;
      }
    }
    .extra-content-large {
      transition: all .8s ease-in-out;
      @media (max-width: 575px) {
        max-height: 108px;
      }
    }
    .more-info {
      display: none;
      color: #df081d;
      text-decoration: underline;
      cursor: pointer;
      position: absolute;
      @media (max-width: 575px) {
        display: block;
      }
    }
    &.active {
      .extra-content {
        margin-bottom: 20px;
        max-height: 1000px;
      }
      .extra-content-large {
        margin-bottom: 20px;
        max-height: 1000px;
      }
    }
  }
  .img-holder {
    @media (max-width: 575px) {
      height: 400px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      box-shadow: 0 0 16px rgba(96, 96, 96, 0.5);
    }
  }
}

.info-content-bg {
  background: 50% 120% no-repeat;
  @media (max-width: 575px) {
    background: none !important;
  }
  .title {
    margin-bottom: 40px;
  }
}

.strip-card {
  .title {
    margin-bottom: 50px;
  }
  .no-content-mobile {
    margin-bottom: 50px;
  }
  .button {
    @media (max-width: 575px) {
      display: none;
    }
    a {
      border: 2px solid #df081d;
      display: inline-block;
    }
  }
  .img-holder {
    transform: rotate(5deg);
    @media (max-width: 991px) {
      transform: none;
      margin-right: -15px;
    }
    @media (max-width: 575px) {
      display: none;
    }
    img {
      max-height: 600px;
      width: auto;
      object-fit: cover;
    }
  }
}

.packages {
  background: #f8f8f9;

  .package-content {
    margin-bottom: 200px;
    @media (max-width: 1200px) {
      margin-bottom: 100px;
    }
  }

  .slick-list {
    overflow: visible;
    @media (max-width: 1200px) {
      overflow: hidden;
    }

    .package-block {
      padding: 20px 60px;
      background: #152358;
      border-radius: 5px;
      margin-top: 130px;
      @media (max-width: 1200px) {
        max-width: 500px;
        margin-top: 90px;
      }
      @media (max-width: 768px) {
        margin: 0 auto;
      }

      &.top-result {
        position: relative;
        padding: 20px 60px 60px;
        margin-top: 0;
        @media (max-width: 1200px) {
          padding: 20px 60px;
        }

        .label {
          top: 0;
          position: absolute;
          left: 0;
          font-weight: 600;
          width: 100%;
          padding: 15px 5px;
          background: #df081d;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          p {
            font-size: 40px;
            color: #fff;
          }
        }

        .title {
          margin-bottom: 30px;
        }
        .top-result-top {
          padding-top: 80px;
        }
      }

      .icon {
        display: inline-block;
        background: #fff;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        margin-bottom: 20px;
        position: relative;

        img {
          width: 80px;
          height: 80px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .title {
        font-weight: 600;
        margin-bottom: 20px;

        p {
          color: #fff;
        }
      }

      .content {
        height: 240px;
        @media (max-width: 1480px) {
          height: 270px;
        }
        @media (max-width: 1380px) {
          height: 320px;
        }
        @media (max-width: 1240px) {
          height: 340px;
        }
        @media (max-width: 1200px) {
          height: 240px;
        }

        p, li {
          color: #fff;
          margin: 0;
        }

        li {
          margin: 0 30px 15px;
        }
      }
    }
  }
}

.cta, .cta-btn {
  background: #152358;
  .title {
    padding: 20px 0 20px 60px;
    position: relative;
    @media (max-width: 575px) {
      padding: 0 0 0 20px;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 60px;
      margin: 0;
      color: #fff;
      font-weight: 800;
      @media (max-width: 1200px) {
        font-size: 50px;
      }
      @media (max-width: 991px) {
        font-size: 40px;
      }
      @media (max-width: 575px) {
        font-size: 28px;
      }
    }
  }
  .button {
    @media (max-width: 768px) {
      text-align: center;
    }
    a {
      display: inline-block;
      font-size: 28px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

.summary {
  .title {
    margin-bottom: 50px;
  }
  .img-holder {
    @media (max-width: 768px) {
      margin-top: 30px;
    }
    img {
      height: 630px;
      width: auto;
      object-fit: cover;
      box-shadow: 0 0 16px rgba(96, 96, 96, 0.5);
      @media (max-width: 768px) {
        height: 400px;
      }
    }
  }
}

.contact {
  background: #f8f8f9;
  padding: 150px 0;
  .title {
    margin-bottom: 40px;
    h2 {
      font-weight: 600;
      color: #152358;
      font-size: 60px;
      margin: 0;
      @media (max-width: 1200px) {
        font-size: 40px;
      }
      @media (max-width: 991px) {
        font-size: 28px;
      }
    }
  }
  .content {
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    p {
      font-size: 22px;
      color: #7a7c7f;
    }
  }
  .contact-icon {
    margin-bottom: 50px;
    display: table;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .img-holder {
      width: 100px;
      height: 100px;
      background: #fff;
      border-radius: 50%;
      position: relative;
      display: table-cell;
      vertical-align: middle;
      @media (max-width: 991px) {
        width: 80px;
        height: 80px;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .contact-text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 50px;
      color: #152358;
      font-size: 24px;
      font-weight: 600;
      @media (max-width: 991px) {
        font-size: 18px;
      }
      &:hover {
        color: #df081d;
      }
      @media (max-width: 991px) {
        padding-left: 28px;
      }
      .person {
        color: #df081d;
        margin-bottom: 10px;
      }
    }
  }
}